.header{
    border-bottom: 0px !important;
}

.form-control,.easy-autocomplete input {
    background-color: rgb(0, 0, 0);
    border: 1px solid rgb(253 253 253);
    color: rgba(255, 255, 255, 1) !important;
}

label{
    font-size: 20px;
    text-transform: uppercase;
}
input:focus{
    border: 1px solid red;
}
.form-control{
    font-size: 30px;
}
.keyboard {
    display: flex;
    flex-direction: column;
}

.keyBoardRow {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.key {
    width: 75px;
    height: 75px;
    border: 1px solid #ccc;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 2px;
    cursor: pointer;
    background-color:#1d285a ;
    font-size: 2rem;
}

.key:hover {
    background-color: #e5e5e5;
}
